/* Style for all paragraphs */
p {
    color: rgb(79, 90, 236);
    font-size: 16px;
    font-family:'Georgia', sans-serif ;
}


/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid blue; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
    color: rgb(111, 175, 248)
}
   
   a {
  text-decoration: none;
   }
body {
    background-color: #cbefff; /* Very light grey */
}

ul { color: rgb(79,90,236)
}
