/* Change the background of the entire visible page */
body {
    background-color: #f0f0f0; /* Very light grey */
}


p {
    color: rgb (135,206,253);
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid blue; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
